@import "src/components/_variables.scss";


.register{
  display: flex;
  border-radius: 3px;
  font-family: 'Roboto';
}

.form-next-btn{
  background-color: green;
  border-radius: 8px;
  padding: .5rem;
  color: white;
  width: 100px;
  box-sizing: border-box;
  float: right;
}

.form-next-btn.form-register{
  background-color: chocolate;
}

.form-previous-btn{
  background-color: #b7b787;
  border-radius: 8px;
  padding: .5rem;
  color: white;
  width: 100px;
  box-sizing: border-box;
  float: left;

}

.form-nav{
  justify-content: space-between;
  padding: 1rem 4rem 1rem;
  display: flex;
  width: 100%;
}

.first-step{
  display: block !important;
  justify-content: normal !important;
  .form-next-btn{
    margin-right: 0
  }
}

.last-step{
  display: block !important;
  justify-content: normal !important;
  .form-previous-btn{
    margin-left: 0
  }
}

