$menuPrimaryColor: #23272a;
$gray100: #EDF2F7;
$gray200: #E2E8F0;
$gray300: #CBD5E0;
$gray400: #A0AEC0;
$gray500: #718096;
$gray600: #4A5568;
$gray700: #2D3748;
$gray800: #1A202C;
$gray900: #171923;

$darkgray100: rgba(145, 145, 145, 0.27);
$darkgray500: rgba(58, 58, 58, 0.25);


$redPrimary: #d73d3d;
$greenPrimary: #28a63b;