
@import "src/components/_variables.scss";


.input-group{
  padding-left: 1rem;
  padding-right: 2rem;
}

.pass-show{
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 20%;
}

.input-group label{
  display: flex;
  position: relative;

  padding: .2rem;
}
.input-addon{
  padding: .2rem;
  width: 5rem;
  text-align: left;
  border-bottom: 1px solid $gray300;

}
.input-group input{
  width: 81%;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid $gray300;
}
